body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: #607D8B;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}
div {
    width: 100px;
    height: 100px;
    background: aqua;
    border: solid;
}