body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: #607D8B;
    flex-direction: column;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    padding: 2px;
  }

  @media (max-width: 768px) {
    .board {
      width: 350px; /* Define the width for mobile view */
      height: 350px; /* Define the height for mobile view */
    }
  }
  
  /* Media query for desktop */
  @media (min-width: 769px) {
    .board {
      width: 500px; /* Define the width for desktop view */
      height: 500px; /* Define the height for desktop view */
    }
  }
  
  .square{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .square {
      width: 115px; /* Define the width for mobile view */
      height: 115px; /* Define the height for mobile view */
    }
  }
  
  /* Media query for desktop */
  @media (min-width: 769px) {
    .square {
      width: 165px; /* Define the width for desktop view */
      height: 165px; /* Define the height for desktop view */
    }
  }